body {
  margin: 0;
  padding: 0;
}

.main {
  width: 690px;
  height: 653px;
  background-color: #18191A;
}

.navbar {
  height: 45px;
  background-color: #242626;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  border-bottom: 1px solid #383A3C;
}

.navbar_additionally {
  float: right;
  padding:  0px 10px;
}


.navbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding: 0px 10px;
}

.navbar_hmenu {
  padding: 0px 10px;
}

.search_logo {
  padding: auto;
}

.block {
  width: 50%;
  height: 606px;
  background-color: #242626;
}

.first-block {
  display: inline-block;
  width: 100%;
  height: 60px;
  border: 1px solid red;
}

.gear {
  float: right;
  padding: 5px 10px 0px 0px;
}

.title {
  font-weight: bold;
  float: left;
  font-family: "Titillium";
  color: #E4E6EA;
  margin: 10px 0px 0px 20px;
}